VBox {
    -fx-background-color : linear-gradient(to bottom, #FFF0F5, #F5F8FA);
}

.button
{
    -fx-background-color : #393351;
}

.text-field {
    -fx-control-inner-background: #C5FAD5;
    -fx-border-color: linear-gradient(to bottom, #5267f8, rgba(65, 225, 212, 0.87));
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.list-view {
    -fx-control-inner-background: #C5FAD5;
    -fx-border-color: linear-gradient(to bottom, #5267f8, rgba(65, 225, 212, 0.87));
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.list-view .list-cell:filled:selected {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.list-view .list-cell:filled:focused:selected {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.list-view .scroll-bar:vertical {
    -fx-background-color: #b3d9ff;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding: 0.05em;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(to bottom, #5267f8, rgba(65, 225, 212, 0.87));
    -fx-background-insets: 0;
    -fx-padding: 0.05em;
}

.speaker
{
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
}

.text-area
{
    -fx-background-color: #C5FAD5;
    -fx-border-color: linear-gradient(to bottom, #5267f8, rgba(65, 225, 212, 0.87));
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-font-family: 'Inter';
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}