/*
Menu View
*/
.pane {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-background-color: transparent;
}

.menu-bar {
    -fx-background-color:
            #c7f3ff;
    -fx-background-radius: 0 0 0 15;
    -fx-border-radius: 0 0 0 15;
}

.menu-bar-dark {
    -fx-background-color: #2d4059;
    -fx-background-radius: 0 0 15 0;
    -fx-border-radius: 0 0 15 0;
}

.hBar {
    -fx-background-radius:  15 15 0 0;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.hBar-dark {
    -fx-background-radius:  15 15 0 0;
    -fx-background-color: #161616;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.menu-view {
    -fx-background-color : #defcf9;
    -fx-background-radius: 0 0 15 0;
    -fx-border-radius: 0 0 15 0;
}

.menu-view-dark {
    -fx-background-color : #393351;
    -fx-background-radius: 0 0 15 0;
    -fx-border-radius: 0 0 15 0;
}

@font-face {
    font-family: "SF Pro";
    src: url('../fonts/SF-Pro.ttf');
}

@font-face {
    font-family: "SF Pro Bold";
    src: url('../fonts/SF-Pro-Display-Bold.otf');
}

@font-face {
    font-family: "SF Pro Text";
    src: url('../fonts/SF-Pro-Text-Black.otf');
}

.label {
    -fx-font-family: 'SF Pro Bold';
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-font-size: 14px;
    -fx-text-fill: black;
}

.label-dark {
    -fx-font-family: 'SF Pro Bold';
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-font-size: 14px;
    -fx-text-fill: rgba(255, 255, 255, 0.91);
}

/*
Button
 */


.button-1 {
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-cursor: hand;
}

.button-1:hover {
    -fx-background-color: #c2ade6;
    -fx-cursor: hand;
    -fx-text-fill: transparent;
    -fx-background-radius: 36;
}

.button-1:selected {
    -fx-background-color: #c2ade6;
    -fx-cursor: hand;
    -fx-text-fill: transparent;
    -fx-background-radius: 36;
}

.button-2 {
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
}

.button-3 {
    -fx-background-color: #c2ade6;
    -fx-background-radius: 48;
}

.button-3:hover {
    -fx-background-color: #c2ade6;
    -fx-background-radius: 48;
}

.button-4 {
    -fx-background-color: dodgerblue;
}

.button-4:hover {
    -fx-background-color: #cb88ec;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

    transition: -fx-background-color 0.5s ease,
    -fx-scale-x 0.5s ease,
    -fx-scale-y 0.5s ease;
}

.backBtn {
    -fx-text-fill: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-background-image: url('../images/icons8-back-64.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.backBtn:hover {
    -fx-cursor: hand;
    -fx-background-image: url('../images/icons8-back-64-2.png');
}


/*
Search View
 */

.text-field {
    -fx-control-inner-background: #C5FAD5;
    -fx-border-color:  #00539C;
    -fx-border-radius: 15 15 0 0;
    -fx-background-radius: 15 15 0 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.list-view {
    -fx-control-inner-background: #C5FAD5;
    -fx-border-color:  #00539C;
    -fx-border-radius: 0 0 15 15;
    -fx-background-radius: 0 0 15 15;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;

}
.list-view .list-cell:filled:selected {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.list-view .list-cell:filled:focused:selected {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.list-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding: 0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button,
.list-view .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: transparent;
}

/*
Translate View
 */

.text-area
{
    -fx-background-color: #C5FAD5;
    -fx-border-color: linear-gradient(to bottom, #5267f8, rgba(65, 225, 212, 0.87));
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-font-family: 'SF Pro';
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}