#anchorPane {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 15 0;
    -fx-border-radius: 0 0 15 0;
    -fx-background-image: url('../images/background-multichoice.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#word {
    -fx-cursor: hand;
    -fx-background-image: url('../images/flashcard.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-text-fill: black;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-font-size: 18px;
}

#next {
    -fx-cursor: hand;
    -fx-text-fill: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-background-image: url('../images/icons8-next-64.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

#prev {
    -fx-cursor: hand;
    -fx-text-fill: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-background-image: url('../images/icons8-back-64.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

#next:hover {
    -fx-cursor: hand;
    -fx-text-fill: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-background-image: url('../images/icons8-next-64-2.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

#prev:hover {
    -fx-text-fill: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-background-image: url('../images/icons8-back-64-2.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

#delete {
    -fx-background-image: url('../images/images.delete-icon.png');
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

#drop {
    -fx-background-image: url('../images/images.drop-icon.png');
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}